<!-- ===== CONTENIDO PRINCIPAL ===== -->
<div class="catalogo-page">
    <div class="catalogo-container">
        <!-- SIDEBAR -->
        <div class="sidebar-section">
            <app-sidebar (categorySelected)="onCategorySelected($event)"></app-sidebar>
        </div>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main-content">
            <!-- Encabezado -->
            <div class="product-header">
                <h2 class="product-title">{{ selectedCategory }}</h2>
                <hr class="product-divider" />
            </div>

            <!-- Lista de productos -->
            <div class="product-list">
                <app-product-card *ngFor="let product of getProductsByCategory(selectedCategory)" [product]="product" (productClick)="openModal(product)">
                </app-product-card>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<app-modal-product [product]="selectedProduct"></app-modal-product>
